VITE_FIREBASE_API_KEY=your_api_key
VITE_FIREBASE_AUTH_DOMAIN=mykrew-spend.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mykrew-spend
VITE_FIREBASE_STORAGE_BUCKET=mykrew-spend.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=000000000000
VITE_FIREBASE_APP_ID=1:000000000000:web:000000000000